
  <body>
			
		<div class="row">
				<div>
					<div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center position-relative overflow-hidden" >
						<div class="banner">
              <span>
                <em class="material-icons modal-close" (click)="close()">close</em>
            </span>
            </div>
						<img [src]="data.image" alt="" class="img-circle mx-auto mb-3">
						<h3 class="mb-4">{{data.nom}} {{data.prenom}} ({{data.matricule}})</h3>
						<div class="text-center">
              <p class="mb-2"><strong>Département: </strong>{{getDepNom(data.departementId)}}</p>
              <p class="mb-2"><strong>Chef Département: </strong>{{getNomChefDepartement(data.departementId)}}</p>
              <p class="mb-2"><strong>Date d'embauche: </strong> {{data.dateEmbauche | date}}</p>
              <!--<p class="mb-2"><strong>Site: </strong>{{getNomSite(data.departementId)}}</p>-->
							<p class="mb-2"><strong>Email: </strong> {{data.email}}</p>
							<p class="mb-2"><strong>Tel: </strong> {{data.tel}}</p>
						</div>
					</div>
				</div>
      </div>
  </body>
