<main id="main">

    <div class="modal_header">
    <div class="modal_title">
        <span *ngIf="data.type === 'evenement'">
            Détails de l'événement
        </span>
        <span *ngIf="data.type === 'nouveaute'">
          Détails de la nouveauté
      </span>
        <span>
            <em class="material-icons modal-close" (click)="close()">close</em>
        </span>
    </div>
  </div>
  <section class="events">
    <div class="container">
    <div class="events-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <div id="dialogHeroCarousel{{data.id}}" class="carousel slide carousel-fade" data-bs-ride="carousel" *ngIf="data.type === 'evenement'">
                <ol class="carousel-indicators">
                  <li data-bs-target="#dialogHeroCarousel{{data.id}}" *ngFor="let media of data.mediaEvents; let i = index" [attr.data-bs-slide-to]="i" [class.active]="i == 0"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let media of data.mediaEvents; let i = index" [class.active]="i == 0">

                    <ng-container *ngIf="media.pieceJointe.startsWith('data:image/')">
                      <img [src]="media.pieceJointe" class="d-block w-100" alt="...">
                    </ng-container>
                    <ng-container *ngIf="media.pieceJointe.startsWith('data:video/')">
                      <video class="d-block w-100" controls>
                        <source [src]="media.pieceJointe" type="video/mp4">
                      </video>
                    </ng-container>

                  </div>
                </div>
                <a class="carousel-control-prev" href="#dialogHeroCarousel{{data.id}}" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dialogHeroCarousel{{data.id}}" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>

              <div id="dialogHeroCarousel{{data.id}}" class="carousel slide carousel-fade" data-bs-ride="carousel" *ngIf="data.type === 'nouveaute'">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img [src]="data.pieceJointe" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
              
              
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" style="color: black;">
              <h3>{{data.titre}}</h3>
              <hr>
              <p class="fst-italic"  *ngIf="data.type === 'evenement'">{{data.dateEvent | date}}</p>
              <p class="fst-italic"  *ngIf="data.type === 'nouveaute'">{{data.datePublication | date}}</p>
              <br>
              <p style="line-height: 2em;">{{data.description}}</p>

              <br>
              <p style="line-height: 2em;">Cliquez ici pour voir la vidéo de l'événement : <a href="{{data.lien}}" target="_blank">{{data.lien}}</a></p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
</main>