<div class="modal_header">
    <div class="modal_title">
        <span>
            Description de l'employé du mois
        </span>
        <span>
            <em class="material-icons modal-close" (click)="close()">close</em>
        </span>
    </div>
  </div>
  <div class="modal_body">
    <div class="p-20 z-depth-top-0 waves-effect" placement="bottom">
        
        <div class="row m-b-6">
  
            <mat-dialog-content class="col-sm-12" style="text-align: center; margin-left:1%;">
              <p>{{data.description}}</p>
            </mat-dialog-content>
  
           
          </div>
    </div>
  </div>
  