<app-admin></app-admin>

<main id="main" class="main">
    <!--<div class="example-container mat-elevation-z8">
        <h1>Total Conventions: {{ totalConventions }}</h1>

          <h2>Dernière convention</h2>
            <div *ngIf="lastConvention">
            <p><strong>Nom : </strong>{{ lastConvention.titre }}</p>
            <p><strong>Date de début : </strong>{{ lastConvention.dateDebut }}</p>
            <p><strong>Date de fin : </strong>{{ lastConvention.dateFin }}</p>
            </div>
            <div *ngIf="!lastConvention">
            <p>Aucune convention trouvée.</p>
            </div>
        </div>-->
        <div class="graph-container">
            <div class="graph">
              <canvas #chart></canvas>
            </div>
            <div class="graph">
              <canvas #Hchart></canvas>
            </div>
          </div>
          <div class="graph-container">
            <div class="graph" style="width: 30%;">
              <canvas #doughnutChart></canvas>
            </div>
            <div class="graph">
                
              </div>

          </div>
          

     
    </main>

