// /*--------------------------------------------------------------
// # Main
// --------------------------------------------------------------*/
#main {
    position: relative;
    margin-top: -44%;
    padding: 20px 10px;
    margin-left: 17%;
    transition: all 0.3s;
    width: 80%;
  }
  
  @media (max-width: 1000px) {
    #main {
      padding: 10px;
    }
  }
  
  .graph-container {
    display: flex;
    justify-content: center;
  }
  
  .graph {
    width: 50%;
    margin: 0 10px;
  }
  