<div class="modal_header">
    <div class="modal_title">
        <span>
            Demande d'un document
        </span>
        <span>
            <em class="material-icons modal-close" (click)="close()">close</em>
        </span>
    </div>
  </div>
  <div class="modal_body">
    <div class="p-20 z-depth-top-0 waves-effect" placement="bottom">
      <form [formGroup]="demandeForm">
        
        <div class="row m-b-6">

            <mat-form-field [ngClass]="{'col-sm-4': afficherTypeAttest || afficherMoisFiche || afficherSujet || afficherTypeSalaire, 'col-sm-6': !afficherTypeAttest && !afficherMoisFiche && !afficherSujet && !afficherTypeSalaire}">
                <mat-label>Titre</mat-label>
                <mat-select formControlName="titre" class="login-input-style" [disabled]="editData" (selectionChange)="onTitreChange($event)">
                  <mat-option value="Attestation de travail">Attestation de travail</mat-option>
                  <mat-option value="Attestation de stage" (click)="toggleCheckbox()">Attestation de stage</mat-option>
                  <mat-option value="Attestation de salaire">Attestation de salaire</mat-option>
                  <mat-option value="Fiche de paie">Fiche de paie</mat-option>
                  <mat-option value="Autorisation de sortie">Autorisation de sortie</mat-option>
                  <mat-option value="Lettre de recommandation">Lettre de recommandation</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field [ngClass]="{'col-sm-4': afficherTypeAttest || afficherMoisFiche || afficherSujet || afficherTypeSalaire, 'col-sm-6': !afficherTypeAttest && !afficherMoisFiche && !afficherSujet && !afficherTypeSalaire}">
                <mat-label>Priorité</mat-label>
                <mat-select formControlName="priorite" class="login-input-style" [disabled]="editData">
                  <mat-option value="Mineur">Mineur</mat-option>
                  <mat-option value="Majeur">Majeur</mat-option>
                  <mat-option value="Critique">Critique</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-sm-4" *ngIf="afficherSujet">
                <mat-label>Sujet</mat-label>
                <input formControlName="sujet" matInput class="login-input-style" [readonly]="editData">
              </mat-form-field>

              <mat-form-field class="col-sm-4" *ngIf="afficherTypeAttest">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" class="login-input-style">
                  <mat-option value="Legalisé">Legalisé</mat-option>
                  <mat-option value="Non legalisé">Non legalisé</mat-option>
                </mat-select>
              </mat-form-field>

              
              <mat-form-field class="date-field col-sm-4" *ngIf="afficherMoisFiche">
                <input matInput [matMonthPicker]="picker2200" formControlName="mois" [max]="dateSysteme" class="login-input-style" placeholder="Mois"  [disabled]="editData">
                <mat-datepicker-toggle matSuffix [for]="picker2200"></mat-datepicker-toggle>
                <mat-datepicker #picker2200></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="col-sm-4" *ngIf="afficherTypeSalaire">
                <mat-label>Type</mat-label>
                <mat-select formControlName="choix" class="login-input-style">
                  <mat-option value="Annuel">Annuel</mat-option>
                  <mat-option value="Mensuel">Mensuel</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-sm-12" *ngIf="afficherDestinataire">
                <mat-label>Destinataire</mat-label>
                <input formControlName="destinataire" matInput class="login-input-style" [readonly]="editData">
              </mat-form-field>

              <mat-form-field [ngClass]="{'col-sm-6': etudiantCheckbox?.checked !== true, 'col-sm-4': etudiantCheckbox?.checked === true}" *ngIf="afficherFac">
                <mat-label>Université</mat-label>
                <input formControlName="fac" matInput class="login-input-style" [readonly]="editData">
              </mat-form-field>

              <mat-form-field [ngClass]="{'col-sm-6': etudiantCheckbox?.checked !== true, 'col-sm-4': etudiantCheckbox?.checked === true}" *ngIf="afficherEtud1">
                <mat-label>Nom de l'étudiant(e)</mat-label>
                <input formControlName="etudiant1" matInput class="login-input-style" [readonly]="editData">
              </mat-form-field>

              <mat-form-field class="col-sm-4" #etudiant2 [hidden]="etudiantCheckbox?.checked !== true">
                <mat-label>Nom de l'étudiant(e) 2</mat-label>
                <input formControlName="etudiant2" matInput class="login-input-style" [readonly]="editData">
              </mat-form-field>

              <mat-form-field class="date-field col-sm-12" *ngIf="afficherDateSortie">
                <input matInput [matDatetimepicker]="picker2300" formControlName="dateSortie" class="login-input-style" placeholder="Date et heure de sortie" [disabled]="editData">
                <mat-datepicker-toggle matSuffix [for]="picker2300"></mat-datepicker-toggle>
                <mat-datetimepicker #picker2300></mat-datetimepicker>
              </mat-form-field>


              <mat-form-field class="date-field col-sm-6" *ngIf="afficherDebutS">
                <input matInput [matDatepicker]="picker2600" formControlName="debutS" [max]="dateSysteme" class="login-input-style" placeholder="Date début">
                <mat-datepicker-toggle matSuffix [for]="picker2600"></mat-datepicker-toggle>
                <mat-datepicker #picker2600></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="date-field col-sm-6" *ngIf="afficherFinS">
                <input matInput [matDatepicker]="picker2700" formControlName="finS" [max]="dateSysteme" [min]="demandeForm.get('debutS').value" class="login-input-style" placeholder="Date fin">
                <mat-datepicker-toggle matSuffix [for]="picker2700"></mat-datepicker-toggle>
                <mat-datepicker #picker2700></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="col-sm-12">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput class="login-input-style" [readonly]="editData">
              </mat-form-field>

              <mat-checkbox #etudiantCheckbox *ngIf="afficherCheckbox" (change)="toggleEtudiant()">Ajouter un(e) étudiant(e)</mat-checkbox>

              <div class="col-sm-6" *ngIf="editData">
                <mat-label>Document</mat-label><br>
                <input type="file" (change)="onPDFDSelected($event)" formControlName="document"
                name="pdf" accept=".pdf" class="login-input-style" >
             </div>

             <mat-form-field class="col-sm-6" hidden>
                <mat-label>Employé</mat-label>
                <mat-select formControlName="utilisateurId" class="login-input-style" disabled hidden> 
                  <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.id">{{ utilisateur.nom }} {{utilisateur.prenom}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-sm-6" hidden>
                <mat-label>Admin</mat-label>
                <mat-select formControlName="adminId" class="login-input-style" disabled hidden> 
                  <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.id">{{ utilisateur.nom }} {{utilisateur.prenom}}</mat-option>
                </mat-select>
              </mat-form-field>

             <mat-form-field class="col-sm-6" hidden>
                <mat-label>Status</mat-label>
                <input matInput formControlName="status" class="login-input-style" disabled hidden>
              </mat-form-field>
  
            <mat-form-field class="col-sm-6" hidden>
              <mat-label>Date</mat-label>
              <input matInput formControlName="date" class="login-input-style" disabled hidden>
            </mat-form-field>
          </div>
  
          
        <div class="row m-t-20">
          <div class="col-lg-12">
              <div class="row f-right">
                  <div class="col-lg-12">
                      <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
                      &nbsp; &nbsp;
                      <button type="submit" class="btn btn-primary ripple light btn-md" (click)="AjouterDemande()">
                          Save
                      </button>
                  </div>
              </div>
          </div>
      </div>
        
      </form>

    </div>
  </div>
  