<app-admin></app-admin>
<main id="main" class="main">


    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="modal_header">
                        <div class="modal_title">
                            <span>
                                Profile picture
                            </span>
                        </div>
                      </div>
                    <div class="card-body profile-card pt-4 d-flex flex-column">

                        <img src="{{user.image}}" alt="Profile" class="rounded-circle">
                        
                        <h2>{{user.nom}} {{user.prenom}}</h2>
                        <h3>{{user.role}}</h3>
                        
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="modal_header">
                        <div class="modal_title">
                            <span>
                                Account details
                            </span>
                        </div>
                      </div>
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Détails</button>
                              </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#edit-profile">Modifier mon profil</button>
                              </li>
                            

                        </ul>
                        <div class="tab-content pt-2" style="height: 5px;">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Détails du profil</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 data">Nom et Prénom:</div>
                                    <div class="col-lg-9 col-md-8 data1">{{user.nom}} {{user.prenom}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 data">Matricule:</div>
                                    <div class="col-lg-9 col-md-8 data1">{{user.matricule}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 data">Rôle:</div>
                                    <div class="col-lg-9 col-md-8 data1">{{user.role}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 data">Email:</div>
                                    <div class="col-lg-9 col-md-8 data1">{{user.email}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 data">Téléphone:</div>
                                    <div class="col-lg-9 col-md-8 data1">{{user.tel}}</div>
                                </div>

                            </div>
                        </div>

                        <!-- editProfile component -->
                        <div *ngIf="user" class="tab-pane fade edit-profile pt-3" id="edit-profile">
                            <div class="modal_body">
                                <div class="p-20 z-depth-top-0 waves-effect" placement="bottom">
                                  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                                    
                                    <div class="row m-b-6">
                                      <mat-form-field class="col-sm-6">
                                          <mat-label>Nom</mat-label>
                                          <input formControlName="nom" [(ngModel)]="user.nom" matInput class="login-input-style">
                                        </mat-form-field>
                              
                                        <mat-form-field class="col-sm-6">
                                          <mat-label>Prénom</mat-label>
                                          <input formControlName="prenom"
                                          [(ngModel)]="user.prenom" matInput class="login-input-style">
                                        </mat-form-field>
                              
                                        <mat-form-field class="col-sm-6">
                                          <mat-label>Email</mat-label>
                                          <input type="email" matInput formControlName="email"
                                          [(ngModel)]="user.email" class="login-input-style">
                                        </mat-form-field>

                                        <mat-form-field class="col-sm-6">
                                            <mat-label>Mot de passe</mat-label>
                                            <input type="password" matInput formControlName="motDePasse" class="login-input-style">
                                            <mat-error *ngIf="profileForm.controls.motDePasse.hasError('required')">Le mot de passe est obligatoire</mat-error>
                                            <mat-error *ngIf="profileForm.controls.motDePasse.hasError('minlength')">Le mot de passe doit comporter au moins 8 caractères</mat-error>
                                            <mat-error *ngIf="profileForm.controls.motDePasse.hasError('maxlength')">Le mot de passe ne doit pas dépasser 20 caractères</mat-error>
                                            <mat-error *ngIf="profileForm.controls.motDePasse.hasError('pattern')">Le mot de passe doit inclure au moins une lettre minuscule, une lettre majuscule et un chiffre</mat-error>
      
                                          </mat-form-field>

                                          <mat-form-field class="col-sm-6">
                                            <mat-label>Matricule</mat-label>
                                            <input matInput formControlName="matricule"
                                            [(ngModel)]="user.matricule" class="login-input-style">
                                          </mat-form-field>
                              
                                        <mat-form-field class="col-sm-6">
                                          <mat-label>Téléphone</mat-label>
                                          <input type="tel" matInput formControlName="tel"
                                          [(ngModel)]="user.tel" class="login-input-style">
                                          <mat-error *ngIf="profileForm.controls.tel.errors && (profileForm.controls.tel.dirty || profileForm.controls.tel.touched)">
                                            <span *ngIf="profileForm.controls.tel.errors.required">Le champ téléphone est obligatoire.</span>
                                            <span *ngIf="profileForm.controls.tel.errors.minlength">Le numéro de téléphone doit comporter au moins 8 chiffres.</span>
                                            <span *ngIf="profileForm.controls.tel.errors.maxlength">Le numéro de téléphone ne peut pas dépasser 8 chiffres.</span>
                                            <span *ngIf="profileForm.controls.tel.errors.pattern">Le numéro de téléphone doit contenir uniquement des chiffres.</span>
                                          </mat-error>
                                        </mat-form-field>
                                       
                                      </div>
                              
                                      
                                    <div class="row m-t-20">
                                      <div class="col-lg-12">
                                          <div class="row f-right">
                                              <div class="col-lg-12">
                                                  <button type="submit" class="btn btn-primary ripple light btn-md">Save</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                    
                                  </form>
                                </div>
                              </div>
                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </section>

</main><!-- End #main -->