
<body>
  <span>
    <em class="material-icons modal-close" (click)="close()" style="float: right; margin-top: 1%; margin-right: 1%;">close</em>
</span>

  <main id="main">
    <section id="menu" class="menu">
      <div class="container">
        <div class="section-title">
          <h2>Agenda Téléphonique du Groupe <br> <span>{{ data.site }}</span></h2>
        </div>
        <mat-tab-group fitInkBarToContent class="example-stretched-tabs">
          <mat-tab label="Rez de chaussée">
            <div class="mat-tab-body-content">
              <ng-container *ngFor="let poste of data.postes">
                <div class="col-lg-12 menu-item" *ngIf="poste.etage === 'Rez de Chaussée'">
                  <div class="thumb">
                    <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                  </div>
                  <div class="menu-content">
                    <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a><span>{{poste['numéro']}}</span>
                  </div>
                  <div class="menu-ingredients">
                    {{getUtilisateurRole(poste.utilisateurId)}}
                  </div>
                </div>
              </ng-container>
            </div>
          
          </mat-tab>
          <mat-tab label="1ér étage">
            <div class="mat-tab-body-content">
              <ng-container *ngFor="let poste of data.postes">
                <div class="col-lg-12 menu-item" *ngIf="poste.etage === '1ér étage'">
                  <div class="thumb">
                    <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                  </div>
                  <div class="menu-content">
                    <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a><span>{{poste['numéro']}}</span>
                  </div>
                  <div class="menu-ingredients">
                    {{getUtilisateurRole(poste.utilisateurId)}}
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-tab>
          <mat-tab label="2éme étage">
            <div class="mat-tab-body-content">
              <ng-container *ngFor="let poste of data.postes">
                <div class="col-lg-12 menu-item" *ngIf="poste.etage === '2éme étage'">
                  <div class="thumb">
                    <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                  </div>
                  <div class="menu-content">
                    <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a><span>{{poste['numéro']}}</span>
                  </div>
                  <div class="menu-ingredients">
                    {{getUtilisateurRole(poste.utilisateurId)}}
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-tab>
          <mat-tab label="3éme étage">
            <div class="mat-tab-body-content">
              <ng-container *ngFor="let poste of data.postes">
                <div class="col-lg-12 menu-item" *ngIf="poste.etage === '3éme étage'">
                  <div class="thumb">
                    <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                  </div>
                  <div class="menu-content">
                    <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a><span>{{poste['numéro']}}</span>
                  </div>
                  <div class="menu-ingredients">
                    {{getUtilisateurRole(poste.utilisateurId)}}
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-tab>
          <mat-tab label="4éme étage">
            <div class="mat-tab-body-content">
              <ng-container *ngFor="let poste of data.postes">
                <div class="col-lg-12 menu-item" *ngIf="poste.etage === '4éme étage'">
                  <div class="thumb">
                    <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                  </div>
                  <div class="menu-content">
                    <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a><span>{{poste['numéro']}}</span>
                  </div>
                  <div class="menu-ingredients">
                    {{getUtilisateurRole(poste.utilisateurId)}}
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </main>

  </body>