.example-stretched-tabs {
  max-width: 800px;
  margin-left: 10%;
}

.mat-tab-body-content{
  overflow-y: scroll !important;
  height: 500px;
}

.mat-tab-body-content::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
  }

 .mat-tab-group .mat-tab-header .mat-ink-bar {
    border-color: red;
  }

  .cdk-overlay-container .mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: hidden !important;
  }
  
  

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
  background-color: white;
}

a {
  text-decoration: none;
  color: #1ba3dd;
}

a:hover {
  color: #1ba3dd;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 20px 0;
  max-height: 700px;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 3%;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #1ba3dd;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/

.menu .menu-content {
  margin-top: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  content: "......................................................................" "...................................................................." "....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #dad8d4;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #1ba3dd;
}

.menu .menu-content span {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
}

.menu .menu-item {
  margin-bottom: 30px;
  width: 80%;
  margin-left: 16%;
}

@media (min-width: 992px) {
  .menu .menu-item {
    margin-bottom: 0;
  }
}

.menu .menu-item .thumb img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -13%;
    margin-bottom: -19%;
}

.menu .menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  color: #948c81;
}

