<body>
  <h4>Agenda Téléphonique du Groupe <br>{{ site.site }}
  </h4>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  <div class="container">
    <div class="leftbox">
      <nav>
        <a id="rdc" class="active">Rez de chaussée</a>
        <a id="étage1">1ér étage</a>
        <a id="étage2">2éme étage</a>
        <a id="étage3">3éme étage</a>
        <a id="étage4">4éme étage</a>
      </nav>
    </div>
    <div class="rightbox" >
      <div class="rdc">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Employé</th>
                <th class="text-center">Poste</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let poste of site.postes">
                <tr class="candidates-list" *ngIf="poste.etage === 'Rez de chaussée'">
                  <td class="title">
                    <div class="thumb">
                      <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0">
                            <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a>
                          </h5>
                        </div>
                        <div class="candidate-list-option">
                          <ul class="list-unstyled">
                            <li>
                              <i class="fas fa-filter pr-1"></i>Information Technology
                            </li>
                            <li>
                              <i class="fas fa-map-marker-alt pr-1"></i>Rolling Meadows, IL 60008
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
                    <span class="candidate-list-time order-1">{{poste['numéro']}}</span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="étage1 noshow"> 
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Employé</th>
                <th class="text-center">Poste</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let poste of site.postes">
                <tr class="candidates-list" *ngIf="poste.etage === '1ér étage'">
                  <td class="title">
                    <div class="thumb">
                      <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0">
                            <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a>
                          </h5>
                        </div>
                        <div class="candidate-list-option">
                          <ul class="list-unstyled">
                            <li>
                              <i class="fas fa-filter pr-1"></i>{{getUtilisateurDep(poste.utilisateurId)}}
                            </li>
                            <li>
                              <i class="fas fa-map-marker-alt pr-1"></i>Rolling Meadows, IL 60008
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
                    <span class="candidate-list-time order-1" style="font-size: 15px;">{{poste['numéro']}}</span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="étage2 noshow">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Employé</th>
                <th class="text-center">Poste</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let poste of site.postes">
                <tr class="candidates-list" *ngIf="poste.etage === '2éme étage'">
                  <td class="title">
                    <div class="thumb">
                      <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0">
                            <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a>
                          </h5>
                        </div>
                        <div class="candidate-list-option">
                          <ul class="list-unstyled">
                            <li>
                              <i class="fas fa-filter pr-1"></i>Information Technology
                            </li>
                            <li>
                              <i class="fas fa-map-marker-alt pr-1"></i>Rolling Meadows, IL 60008
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
                    <span class="candidate-list-time order-1">{{poste['numéro']}}</span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="étage3 noshow">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Employé</th>
                <th class="text-center">Poste</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let poste of site.postes">
                <tr class="candidates-list" *ngIf="poste.etage === '3éme étage'">
                  <td class="title">
                    <div class="thumb">
                      <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0">
                            <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a>
                          </h5>
                        </div>
                        <div class="candidate-list-option">
                          <ul class="list-unstyled">
                            <li>
                              <i class="fas fa-filter pr-1"></i>Information Technology
                            </li>
                            <li>
                              <i class="fas fa-map-marker-alt pr-1"></i>Rolling Meadows, IL 60008
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
                    <span class="candidate-list-time order-1">{{poste['numéro']}}</span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="étage4 noshow">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Employé</th>
                <th class="text-center">Poste</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let poste of site.postes">
                <tr class="candidates-list" *ngIf="poste.etage === '4éme étage'">
                  <td class="title">
                    <div class="thumb">
                      <img class="img-fluid" src="{{getUtilisateurImg(poste.utilisateurId)}}" alt="">
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0">
                            <a href="#">{{getUtilisateurNom(poste.utilisateurId)}}</a>
                          </h5>
                        </div>
                        <div class="candidate-list-option">
                          <ul class="list-unstyled">
                            <li>
                              <i class="fas fa-filter pr-1"></i>Information Technology
                            </li>
                            <li>
                              <i class="fas fa-map-marker-alt pr-1"></i>Rolling Meadows, IL 60008
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
                    <span class="candidate-list-time order-1">{{poste['numéro']}}</span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript"></script>
</body>