<div class="modal_header">
  <div class="modal_title">
      <span>
          Poste
      </span>
      <span>
          <em class="material-icons modal-close" (click)="close()">close</em>
      </span>
  </div>
</div>
<div class="modal_body">
  <div class="p-20 z-depth-top-0 waves-effect" placement="bottom">
    <form [formGroup]="posteForm" >
      
      <div class="row m-b-6">

          <mat-form-field  class="col-sm-4">
            <mat-label>Numéro de poste</mat-label>
            <input matInput formControlName="numéro" class="login-input-style">
            <mat-error *ngIf="posteForm.get('numéro').invalid">
              Please enter only digits for the postal number
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-sm-4">
            <mat-label>Employé</mat-label>
            <mat-select formControlName="utilisateurId" class="login-input-style">
              <ng-container *ngFor="let utilisateur of utilisateurs">
              <mat-option *ngIf="utilisateur.poste === null" [value]="utilisateur.id">{{ utilisateur.prenom }} {{utilisateur.nom}}</mat-option>
            </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-sm-6" hidden>
            <mat-label>Site</mat-label>
            <mat-select formControlName="siteId" class="login-input-style" hidden>
              <ng-container *ngFor="let site of sites">
              <mat-option [value]="site.id">{{ site.site }}</mat-option>
            </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-sm-4">
            <mat-label>Etage</mat-label>
            <mat-select formControlName="etage" class="login-input-style">
              <mat-option value="Rez de Chaussée">Rez de Chaussée</mat-option>
              <mat-option value="1ér étage">1ér étage</mat-option>
              <mat-option value="2éme étage">2éme étage</mat-option>
              <mat-option value="3éme étage">3éme étage</mat-option>
              <mat-option value="4éme étage">4éme étage</mat-option>
            </mat-select>
          </mat-form-field>

          <!--<mat-form-field class="col-sm-6">
            <mat-label>Utilisateur</mat-label>
            <mat-select formControlName="utilisateurId" class="login-input-style">
              <ng-container *ngFor="let utilisateur of filteredUsers">
                <mat-option *ngIf="utilisateur.poste === null" [value]="utilisateur.id">{{ utilisateur.prenom }} {{utilisateur.nom}}</mat-option>
              </ng-container>
            </mat-select>
           </mat-form-field>-->
          

          <mat-form-field class="col-sm-6" hidden>
            <mat-label>UserModif</mat-label>
            <input matInput formControlName="userModif" class="login-input-style" disabled hidden>
          </mat-form-field>

          <mat-form-field class="col-sm-6" hidden>
            <mat-label>UserAjout</mat-label>
            <input matInput formControlName="userAjout" class="login-input-style" disabled hidden>
          </mat-form-field>

          <mat-form-field class="col-sm-6" hidden>
            <mat-label>DateModif</mat-label>
            <input matInput formControlName="dateModif" class="login-input-style" disabled hidden>
          </mat-form-field>

          <mat-form-field class="col-sm-6" hidden>
            <mat-label>DateAjout</mat-label>
            <input matInput formControlName="dateAjout" class="login-input-style" disabled hidden>
          </mat-form-field>
        </div>

        <div class="row m-t-20">
          <div class="col-lg-12">
              <div class="row f-right">
                  <div class="col-lg-12">
                      <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
                      &nbsp; &nbsp;
                      <button type="submit" class="btn btn-primary ripple light btn-md" (click)="AjouterPoste()">
                          Save
                      </button>
                  </div>
              </div>
          </div>
      </div>
      
    </form>
  </div>
</div>