
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <div class="logo me-auto">
          <!--<h1><a href="index.html">Delicious</a></h1>>-->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="index.html">
            <img src="../../../assets/img/logo.png" alt="" class="img-fluid">
          </a>
        </div>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <!--<ul>
            <li>
              <a class="nav-link scrollto active" routerLink="/accueil">Accueil</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#about">Ges. des RH</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#menu">Ges. des Projets</a>
            </li>
          </ul>-->
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
        <a routerLink="/login" class="book-a-table-btn scrollto">S'identifier</a>
      </div>
    </header>
    <!-- End Header -->
    <br>
    <br>
    <br>
    <br>
    <main id="main">
      <!-- ======= Whu Us Section ======= -->
      <section class="why-us">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Nouveautés</span>
            </h2>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let nouveaute of latestNouveautes" >
                <div class="box">
                  <h4 >{{nouveaute.titre}}</h4>
                  <p>{{nouveaute.description | slice:0:120:'...'}}{{nouveaute.description.length > 50 ? ' ... ' : ''}}</p>
                  <br>
                  <p (click)="getTypeDetails('nouveaute',nouveaute.id)" style="text-decoration: underline; font-weight: bold;">Voir plus</p>

                  <h6>{{nouveaute.datePublication | date}}</h6>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Whu Us Section -->

      <!-- ======= Events Section ======= -->
      <section class="events">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Evénements</span>
            </h2>
          </div>
          <div class="events-slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let swiperEvenement of latestEvenements">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <div id="heroCarousel{{swiperEvenement.id}}" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-bs-target="#heroCarousel{{swiperEvenement.id}}" *ngFor="let media of swiperEvenement.mediaEvents; let i = index" [attr.data-bs-slide-to]="i" [class.active]="i == 0"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let media of swiperEvenement.mediaEvents; let i = index" [class.active]="i == 0">
                          <ng-container *ngIf="media.pieceJointe.startsWith('data:image/')">
                            <img [src]="media.pieceJointe" class="d-block w-100" alt="...">
                          </ng-container>
                          <ng-container *ngIf="media.pieceJointe.startsWith('data:video/')">
                            <video class="d-block w-100" controls>
                              <source [src]="media.pieceJointe" type="video/mp4">
                            </video>
                          </ng-container>
                          
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#heroCarousel{{swiperEvenement.id}}" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#heroCarousel{{swiperEvenement.id}}" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 >{{swiperEvenement.titre}}</h3>
                    <hr>
                    <p class="fst-italic">{{swiperEvenement.dateEvent | date}}</p>
                    <br>
                    <p style="line-height: 2em;">{{swiperEvenement.description | slice:0:300:'...'}}{{swiperEvenement.description.length > 50 ? ' ... ' : ''}}</p>
                    <br>
                    <p (click)="getTypeDetails('evenement',swiperEvenement.id)" style="text-decoration: underline; font-weight: bold;">Voir plus</p>
                   
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      
      <!-- End Events Section -->

      <!-- ======= Specials Section ======= -->
      <section id="specials" class="specials">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Procédures & Conventions</span>
            </h2>
            <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>-->
          </div>
          <div class="row">
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item" *ngFor="let convention of conventions; let i=index">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-{{i}}" (click)="selectConvention(i)" >{{'Convention ' + convention.titre}}</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">

                <div *ngFor="let convention of conventions; let i=index" class="tab-pane" [class.active.show]="selectedConventionIndex === i" id="{{'tab-' + i}}">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h4>{{conventions[selectedConventionIndex]?.dateDebut | date}} - {{conventions[selectedConventionIndex]?.dateFin | date}}</h4>
                      <hr>
                      <p class="fst-italic">{{conventions[selectedConventionIndex]?.description}}</p>
                      <p>
                        <a (click)="downloadPDF(conventions[selectedConventionIndex]?.pieceJointe, conventions[selectedConventionIndex]?.titre)">Download PDF</a>
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="{{conventions[selectedConventionIndex]?.logo}}" alt="" class="fixed-img">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Specials Section -->
      <!-- ======= Projet Section ======= -->
      <div class="section-title">
        <h2>Project <span> Success</span>
        </h2>
      </div>
      <section id="Projet" class="Projet">
        <div class="container position-relative">
          <div class="Projet-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="Projet-item" *ngIf="projectSuccess">
                  <h3>{{projectSuccess.titre}}</h3>
                  <!--<h4>{{getProjetNom(projectSuccess.projetId)}}</h4>-->
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <strong>{{projectSuccess.description}}</strong>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End Projet item -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Projet Section -->
      <!-- ======= Chefs Section ======= -->
      <section id="chefs" class="chefs">
        <div class="container">
          <div class="section-title">
            <h2>Nouvelles <span>Recrues</span>
            </h2>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let utilisateur of latestUtilisateurs" style="width: 40%; height:500px;">
                <div class="member">
                  <div class="pic">
                    <img [src]="utilisateur.image" alt="" style="width: 80%; height: 280px;">
                  </div>
                  <div class="member-info">
                    <h4 (click)="getUserDetails(utilisateur.id)">{{utilisateur.prenom}} {{utilisateur.nom}}</h4>
                    <span>{{utilisateur.dateEmbauche | date:'dd/MM/yyyy'}}</span>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Chefs Section -->

          <!-- ======= Menu Section ======= -->
    <section class="menu">
      <div class="container">
        <div class="section-title">
          <h2><span>Mariage & Naissance</span></h2>
        </div>
        <div class="row menu-containerr">
          <div class="col-lg-6 menu-item" *ngFor="let MariageNaissance of MariageNaissances">
            <div class="menu-content">
              <a>{{getUtilisateurNom(MariageNaissance.utilisateurId)}}<div class="menu-ingredients">{{MariageNaissance.titre}}</div> </a><span>{{MariageNaissance.date | date}}</span>
            </div>
            <div class="menu-ingredients">{{MariageNaissance.messageVoeux}}</div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Menu Section -->


<section class="anniv">
  
  <div class="containerrr">
    <div class="section-title" style="margin-top: -8%;">
      <h2>
        <span>Anniversaires</span>
      </h2>
    </div>

    <input type="radio" name="slider" class="d-none" id="s1" checked>
    <input type="radio" name="slider" class="d-none" id="s2" >
    <input type="radio" name="slider" class="d-none" id="s3">
    <input type="radio" name="slider" class="d-none" id="s4">
    <input type="radio" name="slider" class="d-none" id="s5">

    <div class="cards">
      <ng-container *ngFor="let utilisateur of anniversaires; let i = index">
        
      <input type="radio" name="slider" class="d-none" [id]="'s' + (i + 1)">
      <label [for]="'s' + (i + 1)" [id]="'slide' + (i + 1)">
        <div class="card">
          <div class="image">
            <img src="{{utilisateur.image}}" alt="">
            <div class="dots">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="infos">
            <span class="name">{{utilisateur.nom}} {{utilisateur.prenom}}</span>
            <span class="lorem">{{utilisateur.dateNaissance | date:'dd/MM'}}</span>
          </div>

        </div>
      </label>
    </ng-container>
    </div>

  </div>
</section>
      <!-- ======= Testimonials Section ======= -->
      <div class="section-title">
        <h2>Employé du <span> Mois</span>
        </h2>
      </div>
      <section class="testimonials">
        <div class="container position-relative">
          <div class="testimonials-slider" data-aos="fade-up" data-aos-delay="100" *ngIf="latestEmployee">
           
                <div class="testimonial-item">
                  <h4>{{latestEmployee.date | date: 'MMMM, YYYY'}}</h4>
                  <img [src]="latestEmployee.image" class="testimonial-img" alt="">
                  <h3>{{getUtilisateurNom(latestEmployee.utilisateurId)}}</h3>
                  
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>{{latestEmployee.description}}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
            
              <!-- End testimonial item -->
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="container mt-5">
            <div class="section-title">
              <h2>
                <span>Numéros Utiles</span>
              </h2>
            </div>
            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-3 col-md-6 info" style="text-align: center;" *ngFor="let site of sites">
                  <h4>
                    <a (click)="agenda(site.id)" style="color: black;">{{site.site}}:</a>
                  </h4>
                  <p>Tel : {{site.tel}}</p>
                  <p>FAX : {{site.fax}}</p>
                  <p>Adresse : {{site.adresse}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>TelnetTeam Intranet</h3>
        <div class="social-links">
          <a href="#" class="twitter">
            <i class="bx bxl-twitter"></i>
          </a>
          <a href="#" class="facebook">
            <i class="bx bxl-facebook"></i>
          </a>
          <a href="#" class="instagram">
            <i class="bx bxl-instagram"></i>
          </a>
          <a href="#" class="google-plus">
            <i class="bx bxl-skype"></i>
          </a>
          <a href="#" class="linkedin">
            <i class="bx bxl-linkedin"></i>
          </a>
        </div>
        <div class="copyright"> &copy; Telnet <strong>
            <span>Usage Interne</span>
          </strong>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <!-- Vendor JS Files -->
    
   
</body>