
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <div class="logo me-auto">
          <!--<h1><a href="index.html">Delicious</a></h1>>-->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="index.html">
            <img src="../../../assets/img/logo.png" alt="" class="img-fluid">
          </a>
        </div>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li>
              <a class="nav-link scrollto active" routerLink="/accueil">Accueil</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#about">Ges. des RH</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#menu">Ges. des Projets</a>
            </li>
            <!-- <li>
              <a class="nav-link scrollto" href="#menu">Ges. des Achats</a>
            </li> -->
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
        <a routerLink="/login" class="book-a-table-btn scrollto">S'identifier</a>
      </div>
    </header>
    <!-- End Header -->
    <br>
    <br>
    <br>
    <br>
    <main id="main">
      <!-- ======= Whu Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Nouveautés</span>
            </h2>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" height="auto">
                <div class="box">
                  <h4>HR Expo</h4>
                  <p>Rejoignez-nous au salon HR Expo à Tunis les 01 et 02 mars 2023 et apprenez-en plus sur vos opportunités de carrière au sein du Groupe TELNET !</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box">
                  <h4>Visite des étudiants d'ESPITA</h4>
                  <p>Telnet holding s'engage à investir dans les talents de demain ! 20 Février, accueil des étudiants de l'ESPITA et leur équipe pédagogique dans notre bureau du lac.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box">
                  <h4>La 08ème édition du NAPU Job fair</h4>
                  <p>Samedi, le 4 février 2023, participation à la 08e édition de Napu Job Fair dans le nouveau campus de Napu avec la présence de nos ambassadors.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box">
                  <h4> Ad ad velit qui</h4>
                  <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis. Molestiae officiis omnis illo asperiores. Molestiae officiis omnis illo asperiores. </p>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Whu Us Section -->
      <!-- ======= Events Section ======= -->
      <section id="events" class="events">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Evénements</span>
            </h2>
          </div>
          <div class="events-slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let evenement of evenements">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <div class="mediaEvents-slider swiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide" *ngFor="let media of evenement.mediaEvents">
                            <img [src]="media.pieceJointe" class="img-fluid" alt="">
                            
                          </div>
                          
                        </div>
                    
                      </div>
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>{{evenement.titre}}</h3>
                    <hr>
                    <p class="fst-italic">{{evenement.dateEvent | date}}</p>
                    <br>
                    <p>Pour les aider à démarrer du mieux possible, nous avons prévu des rencontres avec leurs encadrants et une visite du site pour découvrir les coulisses.</p>
                    <br>
                    <p>Nous espérons que vous avez tous passé un bon moment et avons hâte de travailler avec vous !</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Events Section -->
      <!-- ======= Specials Section ======= -->
      <section id="specials" class="specials">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Procédures & Conventions</span>
            </h2>
            <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>-->
          </div>
          <div class="row">
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Convention Anantara</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Convention Abracadabra</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Convention ZEN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Convention Fleur de Lys</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Une remise de 20%</h3>
                      <p class="fst-italic">La convention est conclue pour une période d'une année à courir de la date de sa signature par les deux parties.</p>
                      <p>Elle est renouvelable par lettre de recommendation avec accusé de réception, trois mois avant son expiration.</p>
                      <p>
                        <a href="#">Voir plus</a>
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="../../../assets/img/anantara.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Un bon d'une valeur de 300dt</h3>
                      <p class="fst-italic">La convention est conclue pour une période d'une année à courir de la date de sa signature par les deux parties.</p>
                      <p>Elle est renouvelable par lettre de recommendation avec accusé de réception, trois mois avant son expiration.</p>
                      <p>
                        <a href="#">Voir plus</a>
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="../../../assets/img/abracadabra.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Une remise de 12%</h3>
                      <p class="fst-italic">La convention est conclue pour une période d'une année à courir de la date de sa signature par les deux parties.</p>
                      <p>Elle est renouvelable par lettre de recommendation avec accusé de réception, trois mois avant son expiration.</p>
                      <p>
                        <a href="#">Voir plus</a>
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="../../../assets/img/zen.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Une remise de 10%</h3>
                      <p class="fst-italic">La convention est conclue pour une période d'une année à courir de la date de sa signature par les deux parties.</p>
                      <p>Elle est renouvelable par lettre de recommendation avec accusé de réception, trois mois avant son expiration.</p>
                      <p>
                        <a href="#">Voir plus</a>
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="../../../assets/img/fleur lys.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Specials Section -->
      <!-- ======= Projet Section ======= -->
      <div class="section-title">
        <h2>Project <span> Success</span>
        </h2>
      </div>
      <section id="Projet" class="Projet">
        <div class="container position-relative">
          <div class="Projet-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="Projet-item">
                  <h3>Challenge One</h3>
                  <h4>SPACE CONNECTING THINGS</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <strong>Challenge One</strong> est le projet ambitieux pour la conception et le développement du premier satellite Tunisien et qui sera appliqué au nouveau domaine du <strong>Space for IoT.</strong> Le satellite <strong>ChallengeOne</strong> jouera le rôle d’une passerelle <strong>LoRa</strong> placée en orbite dans l’espace, et de ce fait sera capable de recevoir les données qui lui sont destinées et émises par les terminaux au sol. Point d'entrée au domaine <strong>Space for IoT.</strong>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End Projet item -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Projet Section -->
      <!-- ======= Chefs Section ======= -->
      <section id="chefs" class="chefs">
        <div class="container">
          <div class="section-title">
            <h2>Nouvelles <span>Recrues</span>
            </h2>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="member">
                  <div class="pic">
                    <img src="../../../assets/img/user.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>Développeur .NET</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="member">
                  <div class="pic">
                    <img src="../../../assets/img/user.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>Sarah Jhonson</h4>
                    <span>Ingénieur QA</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="member">
                  <div class="pic">
                    <img src="../../../assets/img/user.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>Ingénieur logiciel embarqué</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="member">
                  <div class="pic">
                    <img src="../../../assets/img/user.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>ingénieur aérospatial</span>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Chefs Section -->
      <section id="team" class="team">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Anniversaires</span>
            </h2>
          </div>
          <div class="info-wrap">
            <div class="row">
              <div class="swipeer mySwipeeer">
                <div class="swiper-wrapper">
                  <div class="a swiper-slide">
                    <div class="member">
                      <img src="../../../assets/img/user1.png" class="img-fluid" alt="">
                      <div class="member-info">
                        <div class="member-info-content">
                          <h4>Walter White</h4>
                          <span>10 Mars</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="a swiper-slide">
                    <div class="member">
                      <img src="../../../assets/img/user1.png" class="img-fluid" alt="">
                      <div class="member-info">
                        <div class="member-info-content">
                          <h4>Walter White</h4>
                          <span>12 Mars</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="a swiper-slide">
                    <div class="member">
                      <img src="../../../assets/img/user1.png" class="img-fluid" alt="">
                      <div class="member-info">
                        <div class="member-info-content">
                          <h4>Walter White</h4>
                          <span>15 Mars</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="a swiper-slide">
                    <div class="member">
                      <img src="../../../assets/img/user1.png" class="img-fluid" alt="">
                      <div class="member-info">
                        <div class="member-info-content">
                          <h4>Walter White</h4>
                          <span>10 Mars</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="team" class="team">
        <div class="container">
          <div class="section-title">
            <h2>
              <span>Mariages & Naissances</span>
            </h2>
          </div>
          <div class="info-wrap">
            <div class="row">
              <div class="swipeer mySwipeeer">
                <div class="swiper-wrapper">
                  <div class="a swiper-slide">
                    <div class="member">
                      <img src="../../../assets/img/user1.png" class="img-fluid" alt="">
                      <div class="member-info">
                        <div class="member-info-content">
                          <h4>Walter White</h4>
                          <span>Mariage - 19 Mars</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="a swiper-slide">
                    <div class="member">
                      <img src="../../../assets/img/user1.png" class="img-fluid" alt="">
                      <div class="member-info">
                        <div class="member-info-content">
                          <h4>Walter White</h4>
                          <span>Naissance - 10 Mars</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="a swiper-slide">
                    <div class="member">
                      <img src="../../../assets/img/user1.png" class="img-fluid" alt="">
                      <div class="member-info">
                        <div class="member-info-content">
                          <h4>Walter White</h4>
                          <span>Mariage - 20 Mars</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= Testimonials Section ======= -->
      <div class="section-title">
        <h2>Employé du <span> Mois</span>
        </h2>
      </div>
      <section id="testimonials" class="testimonials">
        <div class="container position-relative">
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
           
                <div class="testimonial-item">
                  <img src="../../../assets/img/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ingénieur Aérospatial</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
            
              <!-- End testimonial item -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="container mt-5">
            <div class="section-title">
              <h2>
                <span>Numéros Utiles</span>
              </h2>
            </div>
            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-3 col-md-6 info" style="text-align: center;">
                  <h4>
                    <a href="#" style="color: black;">TELNET TECHNOCENTRE:</a>
                  </h4>
                  <p>Tel : 71 860 233</p>
                  <p>FAX : 71 860 069</p>
                  <p>Adresse : Rue du Lac Léman 1053, TUNIS LES BERGES DU LAC </p>
                </div>
                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0" style="text-align: center;">
                  <h4>
                    <a href="#" style="color: black;">TELNET Ennour:</a>
                  </h4>
                  <p>Tel : 71 706 922</p>
                  <p>FAX : 71 706 939</p>
                  <p>Adresse : Imm Ennour Centre Urbain Nord 1082 El Menzah Tunis </p>
                </div>
                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0" style="text-align: center;">
                  <h4>
                    <a href="#" style="color: black;">TELNET SFAX:</a>
                  </h4>
                  <p>Tel : 74 287 700</p>
                  <p>FAX : 74 287 019</p>
                  <p>Adresse : 25 Rue Jamel Eddine El Afghani Zone Industrielle Poudrière I, 3000 Sfax </p>
                </div>
                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0" style="text-align: center;">
                  <h4>
                    <a href="#" style="color: black;">TELNET Paris:</a>
                  </h4>
                  <p>Tel : +33 1 42 97 40 40</p>
                  <p>FAX : +33 1 40 13 07 63</p>
                  <p>Adresse : 33 Av. de l'Opéra, 75002 Paris, France </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>TelnetTeam Intranet</h3>
        <div class="social-links">
          <a href="#" class="twitter">
            <i class="bx bxl-twitter"></i>
          </a>
          <a href="#" class="facebook">
            <i class="bx bxl-facebook"></i>
          </a>
          <a href="#" class="instagram">
            <i class="bx bxl-instagram"></i>
          </a>
          <a href="#" class="google-plus">
            <i class="bx bxl-skype"></i>
          </a>
          <a href="#" class="linkedin">
            <i class="bx bxl-linkedin"></i>
          </a>
        </div>
        <div class="copyright"> &copy; Telnet <strong>
            <span>Usage Interne</span>
          </strong>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <!-- Vendor JS Files -->
    
</body>