


<app-admin></app-admin>

<main id="main" class="main">
  <button mat-flat-button class="ajout" (click)="openDialog()">Ajouter un Département</button>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="onSortData($event)" matSortDirection="asc"
    matSortDisableClear>

    <ng-container matColumnDef="nom" class=" table-hover table-striped table-styling">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let departement">
        {{departement.nom}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="chefD">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Chef Département</mat-header-cell>
      <mat-cell *matCellDef="let departement">  {{departement.chefD}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="siteId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Site</mat-header-cell>
      <mat-cell *matCellDef="let departement"> {{getSiteNom(departement.siteId)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateAjout">
      <mat-header-cell *matHeaderCellDef mat-sort-header>dateAjout</mat-header-cell>
      <mat-cell *matCellDef="let departement">  {{departement.dateAjout | date}} </mat-cell>
    </ng-container>



    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!--<button class="btn btn-mini btn-primary m-r-5 ripple light f-right" type="button" matTooltip="Approve"
          (click)="approveWorkFromHomeRequest(workFromHomeRequest)" [disabled]="forbiddenRejecteValidate || isMyWorkFromHomeRequestApprovedAndRejected(workFromHomeRequest) 
          || isMyWorkFromHomeRequestInProgress(workFromHomeRequest) || isApproved(workFromHomeRequest) || isRejected(workFromHomeRequest)">
          <em class="material-icons">done</em></button>
        <button class="btn btn-mini btn-danger m-r-5 ripple light" type="button" matTooltip="Reject"
          (click)="rejectWorkFromHomeRequest(workFromHomeRequest)"
          [disabled]="forbiddenRejectValidate || isMyWorkFromHomeRequestApprovedAndRejected(workFromHomeRequest) || isMyWorkFromHomeRequestInProgress(workFromHomeRequest) || isRejected(workFromHomeRequest)">
          <em class="material-icons">cancel</em></button>-->
        <button class="btn btn-mini btn-primary m-r-5 ripple light" type="button"
        (click)="updateDepartement(row)" matTooltip="Edit">
          <em class="material-icons">edit</em>
        </button>
        <button class="btn btn-mini btn-danger ripple light" type="button" matTooltip="Delete"
        (click)="deleteDepartement(row.id)">
          <em class="material-icons">delete</em></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class=" table-primary table-*"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr> 
  </mat-table>

  
</div>
</main>